/* Error: expected ";".
 *     ,
 * 275 | $mt: 24,
 *     |    ^
 *     '
 *   src/scss/variables.scss 275:4  @import
 *   src/scss/app.scss 2:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 275 \2502  $mt: 24,\a     \2502     ^\a     \2575 \a   src/scss/variables.scss 275:4  @import\a   src/scss/app.scss 2:9          root stylesheet';
}
