@import "reset";
@import "variables";
@import "general";

body {
    @extend %bsic-style-project;
}

h1,
h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.align-i-center {
    align-items: center;
}

.relative {
    position: relative;   
}

.absolute {
    position: absolute;
}

.p-0 {
    padding: 0px;
}

.plr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 10px;
}

.ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.plr-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pr-93 {
    padding-right: 93px;
}

.m-0 {
    margin: 0px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-90 {
    margin-right: 90px;
}

.mr-120 {
    margin-right: 120px;
}

.ml-120 {
    margin-left: 120px;
}

.mt-200 {
    margin-top: 200px;
}

.mb-17 {
    margin-bottom: 17px;
}

.mt-31 {
    margin-top: 31px;
}

.mb-200 {
    margin-bottom: 200px;
}

.first-section {
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;
    width: 1200px;
    box-sizing: content-box;
}

.top-line {
    top: 25px;
    width: 100%;
    justify-content: space-between;
}

.logo,
.nav-list-item > a,
input,
input::placeholder,
.btn{
    color: $white;
}

.logo-icon {
    background-image: url("../images/logo.svg");
}

.inline-block {
    display: inline-block;
}

.icon {
    width: 24px;
    height: 24px;
    padding: 0;

    background-color: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;

    cursor: pointer;
}

.fs-60 {
    font-size: 60px;
}

.fs-38 {
    font-size: 38px;
}

.fs-11 {
    font-size: 11px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.logo > p,
.nav-list-item,
.search-form-input,
.btn {
    text-transform: uppercase;
}

.nav-list-item {
    list-style-type: none;
}

.nav-list-item:last-of-type {
    margin-right: 0;
}

.search-form-input {
    @include arial($dark, 50);
}

.search-form-input::placeholder {
    color: #757575;
}    

.hero-section-form > input {
    min-width: 270px;
    min-height: 50px;
    border: 2px solid $dark-gery ;
    border-radius: 3px;
    background: transparent;
}

.align-center {
    text-align: center;
}

.hero-section-form {
    max-width: 570px;
    margin: 0 auto;
}

.btn {
    display: block;

    @include arial($green, 5);
    padding: 20px 30px;
    width: 100%;
    cursor: pointer;
}

.block {
    display: block;
}

.line-h-90 {
    line-height: 90px
}

.line-h-57 {
    line-height: 57px
}

.line-h-15 {
    line-height: 15px
}

.line-h-16 {
    line-height: 16px
}

.page-description-wrapper {
    width: 1200px;
    color: $white;
}

@include desktop;
@include mobile;


