@import "reset";
@import "variables";
@import "general";

body {
    @extend %bsic-style-project;
}

header {
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

h1,
h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
}

.d-flex {
    display: flex;
}

.flex-der-col {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.align-i-center {
    align-items: center;
}

.relative {
    position: relative;   
}

.absolute {
    position: absolute;
}

.p-0 {
    padding: 0px;
}

.plr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 10px;
}

.ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.plr-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pr-93 {
    padding-right: 93px;
}

.pt-100 {
    padding-top: 101px;
}

.pl-16 {
    padding-left: 16px;
}

.plr-1-5 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.pt-1-5 {
    padding-top: 1.5rem;
}

.m-0 {
    margin: 0px;
}

.mr-16 {
    margin-right: 16px;
}

.mtb-64 {
    margin-top: 64px;
    margin-bottom: 64px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-90 {
    margin-right: 90px;
}

.mr-120 {
    margin-right: 120px;
}

.ml-120 {
    margin-left: 120px;
}

.mt-200 {
    margin-top: 200px;
}

.mb-17 {
    margin-bottom: 17px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-31 {
    margin-top: 31px;
}

.mr-1-5 {
    margin-right: 1.5rem;
}

.mb-1-5 {
    margin-bottom: 1.5rem;
}

.mb-200 {
    margin-bottom: 200px;
}

.conteiner {
    width: 1200px;
    box-sizing: content-box;
}

.top-line {
    top: 25px;
    width: 100%;
    justify-content: space-between;
}

.logo,
.nav-list-item > a,
input,
input::placeholder,
.btn{
    color: $white;
}

.logo-icon {
    background-image: url("../images/logo.svg");
}

.inline-block {
    display: inline-block;
}

.icon {
    width: 24px;
    height: 24px;
    padding: 0;

    background-color: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;

    cursor: pointer;
}

.fs-60 {
    font-size: 60px;
}

.fs-38 {
    font-size: 38px;
}

.fs-24 {
    font-size: 24px;
}

.fs-11 {
    font-size: 11px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-32 {
    font-size: 32px;
}

.fs-64 {
    font-size: 64px;
}

.logo > p,
.nav-list-item,
.search-form-input,
.btn {
    text-transform: uppercase;
}

.nav-list-item {
    list-style-type: none;
}

.nav-list-item:last-of-type {
    margin-right: 0;
}

.search-form-input {
    @include arial(50);
}

.search-form-input::placeholder {
    color: #757575;
}    

.hero-section-form > input {
    min-width: 270px;
    min-height: 50px;
    border: 2px solid $dark-gery ;
    border-radius: 3px;
    background: transparent;
}

.align-center {
    text-align: center;
}

.hero-section-form {
    max-width: 570px;
    margin: 0 auto;
}

.btn {
    @include arial(5);
    padding: 20px 30px;
    width: 100%;
    cursor: pointer;
}

.btn-green {
    background-color: $green;
}

.btn-transparent {
    background: transparent;
}

.block {
    display: block;
}

.line-h-90 {
    line-height: 90px;
}

.line-h-1em {
    line-height: 1em;
}

.line-h-1-5em {
    line-height: 1.5em;
}

.line-h-57 {
    line-height: 57px;
}

.line-h-15 {
    line-height: 15px;
}

.line-h-16 {
    line-height: 16px;
}

.line-h-19 {
    line-height: 19px;
}

.line-h-36 {
    line-height: 36px;
}

.page-description-wrapper {
    width: 1200px;
    color: $white;
}

.bg-free {
    background-image: url('../images/subscribe_1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.bg-free {
    background-image: url('../images/subscribe_1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.bg-standart {
    background-image: url('../images/subscribe_2.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.bg-premium {
    background-image: url('../images/subscribe_3.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.pricing-item {
    border-radius: 1rem;

    > h3 {
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
    }

    > p {
        font-style: normal;
        color: $white;
    }

    > button {
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        > a {
            color: $white;
        }
    }
}

.curr {
    vertical-align: super;
}

.pricing-footer {
    text-align: center; 
}















@include desktop;
@include mobile;


