@import "reset";
@import "variables";
@import "general";

body {
    @extend %bsic-style-project;
}

header {
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

h1,
h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
}

.d-flex {
    display: flex;
}

.flex-der-col {
    flex-direction: column;
}

.flex-der-rr {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.jc-center {
    justify-content: center;
}

.align-i-center {
    align-items: center;
}

.relative {
    position: relative;   
}

.absolute {
    position: absolute;
}



.conteiner {
    width: 1200px;
    box-sizing: content-box;
}

.jc-spce-bwn {
    justify-content: space-between;
}

.top-line {
    top: 25px;
    width: 100%;
    justify-content: space-between;
}

.logo,
.nav-list-item > a,
input,
input::placeholder,
.btn{
    color: $white;
}

.nav-list-item-footer {
    text-transform: none;
    list-style-type: none;

    >a {
        color: $dark-gery;
    }
}

.logo-icon {
    background-image: url("../images/logo.svg");
}

.google-icon {
    background-image: url("../images/Google+.png");
}

.twitter-icon {
    background-image: url("../images/Twitter.png");
}

.inline-block {
    display: inline-block;
}

.icon {
    width: 24px;
    height: 24px;
    padding: 0;

    background-color: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;

    cursor: pointer;
}



.logo > p,
.nav-list-item,
.search-form-input,
.btn {
    text-transform: uppercase;
}

.nav-list-item {
    list-style-type: none;
}

.nav-list-item:last-of-type {
    margin-right: 0;
}

.search-form-input {
    @include arial(50);
    background-color: $dark;
}

.search-form-input::placeholder {
    color: #757575;
}    

.hero-section-form > input {
    min-width: 270px;
    min-height: 50px;
    border: 2px solid $dark-gery ;
    border-radius: 3px;
    background: transparent;
}

.align-center {
    text-align: center;
}

.hero-section-form {
    max-width: 570px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    width: 100%;

    >a {
        color: $white
    }
}

.btn-green {
    @include arial(5);
    background-color: $green;
}

.btn-transparent {
    background: transparent;
    border-radius: 5px;
    border: 1px solid $white;
}

.btn-red {
    background: $red;
    border-radius: 32px;
    width: auto;
}

.btn-wb-a {
    border: 1px solid $dark-gery;
    width: auto;
    
    >a {
        color: $dark-gery;
        }
}

.block {
    display: block;
}



.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.bg-free {
    background-image: url('../images/subscribe_1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.footer-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.bg-standart {
    background-image: url('../images/subscribe_2.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.bg-premium {
    background-image: url('../images/subscribe_3.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}


.pricing-item {
    border-radius: 1rem;

    > h3 {
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
    }

    > p {
        font-style: normal;
        color: $white;
    }

}

.curr {
    vertical-align: super;
}

.pricing-footer {
    text-align: center; 
}


.page-pricing {
    >h3 {
        font-weight: normal;
        color: $white;
    }

    >p {
        color: $white;
    }
}

.page-news,
.page-app {
    >h3 {
        color: $white;
        text-transform: uppercase;
    }
}

.news-section {
    >h3 {
        color: $white;
        font-weight: 400;
    }
}

.author {
    > address {
        > a, time {
            color: $orange;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

footer {
    width: 100%;
}

.top-part {
    width: 100%;
}

.bottm-part {
    border-top: 1px solid $dark-gery;
    width: 100%;
}








@include desktop;
@include mobile;


