%bsic-style-project {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #cacaca;
    background-color: #08020d;
    margin: 0 auto;
}

@mixin sizes-custom($type, $size) {
    #{$type}: #{$size}px;
}

@mixin indent($type, $direction:null, $size) {
    #{$type}#{-$direction}: #{$size};
}

@mixin arial($br) {
    font-family: Arial, sans-serif;
    font-style: normal;
    border-radius: #{$br}px;
}

@mixin desktop {
    @media (min-width: 1240px) {

    }
}

@mixin mobile {
    @media (max-width: 1240px) {
        .mob-block {
            display: block;
        }

        .brder-b {
            box-sizing: border-box;
        }

        .pt-16 {
            padding-top: 16px;
        }

        .mr-0 {
            margin-right: 0;
        }

        .mb-0 {
            margin-bottom: 0;
        }

        .logo {
            margin: 0;
            justify-content: flex-start;
        }

        .mt-17 {
            margin-top: 17px
        }

        .mt-27 {
            margin-top: 27px
        }

        .mb-18 {
            margin-bottom: 18px;
        }

        .mb-20 {
            margin-bottom: 20px;
        }

        .mb-24 {
            margin-bottom: 24px;
        }

        .mb-48 {
            margin-bottom: 48px;
        }

        .mt-50 {
            margin-top: 50px;
        }

        .mb-16 {
            margin-bottom: 16px;
        }

        .search-form-input {
            width: 100%;
        }

        .fs-30 {
            font-size: 30px;
        }

        .fs-18 {
            font-size: 18px;
        }

        .fs-16 {
            font-size: 16px;
        }

        .line-h-45 {
            line-height: 45px
        }

        .line-h-24 {
            line-height: 24px
        }

        .line-h-27 {
            line-height: 27px
        }

        .mtb-16 {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .mtb-200 {
            margin-top: 200px;
            margin-bottom: 200px;
        }

        .mlr-0 {
            margin-left: 0;
            margin-right: 0;
        }

        .hero-section {
            input {
                width: 100%;
            }
        }

        .page-description-wrapper {
            width: 100%;
        }

        .first-section {
            width: 100%;
        }

        .page-pricing {
            width: 100%;

            > div {
                flex-direction: column;
            }
        }

        .page-news {
            width: 100%;

            > div {
                flex-direction: column;
            }
        }
    }
}    