@font-face {
    font-weight: 400;
    font-family: Roboto;
    font-style: normal;
    src:
        local(roboto),
        url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    src:
        local(roboto),
        url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-weight: 700;
    font-family: Roboto;
    font-style: normal;
    src:
        local(roboto),
        url("../fonts/Roboto-Bold.ttf") format("truetype");
}

%bsic-style-project {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #cacaca;
    background-color: #08020d;
    margin: 0 auto;
}

%display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    font-weight: bold;
    text-transform: uppercase;
}

@mixin sizes-custom($type, $size) {
    #{$type}: #{$size}px;
}

@mixin indent($type, $direction:null, $size) {
    #{$type}#{-$direction}: #{$size}px;
}

@mixin arial($color, $size1, $size2, $br) {
    background-color: $color;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: #{$br}px;

    @include sizes-custom(line-height, $size1);
    @include sizes-custom(font-size, $size2);
}

@mixin desktop {
    @media (min-width: 1240px) {
        .search-form-input {
            padding: 5px 93px 5px 10px;
        }

        .top-line-nav {
            @include indent(margin, left, 90);
            @include indent(margin, right, 451)
        } 

        .nav-list {
            margin: 0;
            padding: 0;
        }

        .hero-section {
            @include indent(margin, top, 200);
            @include indent(margin, left, 120);
            @include indent(margin, bottom, 200);
            @include indent(margin, right, 120);

            .page-description-wrapper {
                width: 1200px;
                text-align: center;
                color: $white;
            }

            h1 {
                @include sizes-custom(font-size, 60);
                @include sizes-custom(line-height, 90)
            }

            h2 {
                @include sizes-custom(font-size, 38);
                @include sizes-custom(line-height, 57)
            }

            p {
                @include indent(margin, top, 31)
            }

            .hero-section-form {
                input {
                    padding: 15px 100.618px 15px 22.4px;
                    margin-bottom: 24px;
                }

                & > input:first-child{
                    margin-right: 20px;
                }

                .btn {
                    padding-left: 220px;
                    padding-right: 219px;
                }
            }
        }
    }
}

